{{@datas}}    
    <div class="weui_media_box weui_media_text">
                <p class="weui_media">
                    <label>{{=_val.caseapplydate}}</label> 您的[{{=_val.servname}}]业务目前已经进入{{=_val.casestatus}}阶段，
                    预计{{=_val.surplusday}}后可以前往<label>{{=_val.deptname}}</label>领取，
                    请携带好
                    {{@_val.caseMaterial}} 
						{{=_val.matename}},
					{{/@_val.caseMaterial}}
					前往领取。
                    <!--如有疑问，请拨打电话<label></label>。-->
                </p>
            </div>
{{/@datas}}