@charset "utf-8";

#staion_route {
    width: 100%;
    height: 12%;
}

#staion_route h4 {
    text-indent: 4%;
    padding-top: 3%;
}
#staion_route p {
    text-indent:  4%;
}
#same_bus_more {
    width: 100%;
    height: auto;
}

.same_bus_div_style {
    border-left: 0.5rem solid #f3f0f0;
    border-right: 0.5rem solid #f3f0f0;
    border-top: 0.5rem solid #f3f0f0;
}

#more_samebus_table {
    width: 100%;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
}

#more_samebus_table td
{
    font-size:1em;
    border:1px solid #dbdbdb;
    padding:1% 3% 1% 3%;
    text-align:center;
}

#more_samebus_table td span
{
    color: red;
}
#more_samebus_table tr.alt {
    height: 3rem;
}

#more_samebus_table tr.alt td
{
    color:red;
    background-color:#EAF2D3;
    text-align: center;
}