{{@datas}}
<div class="m-t-20"></div>
    <div class="tax">
        <ol>
            <i><img src="UserModule/module/my/relate/style/images/tax_icon01.png" width="25" class="fl"/> </i>{{=_val.sq_dtime}}<span class="fr">{{=_val.model_cname}}</span>
        </ol>
        <div class="clear"></div>
        <a data-id="{{=_val.sq_id}}" class="relates" aigov-is-record="true">
            <p>
                <em class="fl">标题：</em>
                <span class="fl">{{=_val.sq_title2}}<!--多余的字用省略号--></span>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </p>
        </a>
        <div class="clear"></div>
        <div class="taxBorder"></div>
        <p><em class="fl">状态：</em><span class="fl">{{=_val.sq_status_name}}</span></p>
        <div class="clear"></div>
        <!-- <div class="taxBorder"></div>
        <p><em class="fl">答复人：</em><span class="fl">刘先生</span></p>
        <div class="clear"></div> -->
    </div>
{{/@datas}}
