
.borderBottom{border-bottom: 1px solid #ddd;}
.opers span{width: 33%; float: left;}
.opers span:nth-child(1){text-align: left;}
.opers span:nth-child(2){text-align: center;}
.opers span:nth-child(3){text-align: right;}

.h-20{height: 20px;}




.weui_cell {
    position: relative;
}

.weui_cells {
    margin-top: @weuiCellsMarginTop;
    background-color: @weuiCellBg;
    line-height: @weuiCellLineHeight;
    font-size: @weuiCellFontSize;
    overflow: hidden;
}

.weui_cells_title {
    margin-top: .77em;
    margin-bottom: .3em;
    padding-left: @weuiCellGapH;
    padding-right: @weuiCellGapH;
    color: @globalTextColor;
    font-size: @weuiCellTipsFontSize;
}

.weui_cells_tips {
    margin-top: .3em;
    color: @globalTextColor;
    padding-left: @weuiCellGapH;
    padding-right: @weuiCellGapH;
    font-size: @weuiCellTipsFontSize;
}

.weui_cell {
    padding: @weuiCellGapV @weuiCellGapH;
    position: relative;
    display: flex;
    align-items: center;
}

.weui_cell_ft {
    text-align: right;
    color: @globalTextColor;
}

.weui_cell_primary {
    flex: 1;
}


