{{@datas}}
<a href="javascript:void(0);" class="weui_media_box weui_media_appmsg" aigov-is-record="true" data-id="{{=_val.info_id}}">
	<div class="weui_media_hd">
		<img class="weui_media_appmsg_thumb" src="{{=_val.thumb_url}}" lowsrc="UserModule/module/news/style/20160602155252.png" onerror="this.src='UserModule/module/news/style/20160602155252.png'" alt="">
	</div>
	<div class="weui_media_bd">
		<h4 class="weui_media_title">{{=_val.title}}</h4>
		<p class="weui_media_desc">来源：{{=_val.source}} <br/> 发表时间：{{=_val.released_dtime}}</p>
	</div>
</a>
{{/@datas}}