{{@datas}}
    <!-- <div class="weui_media_box weui_media_text relates" data-id="{{=_val.hotMailId}}" aigov-is-record="true">
        <p class="weui_media_desc">
            <div class="fl my-cricle read{{=_val.isRead}}{{=_val.replyState}}"></div>
            <ul class="fl weui_media_info_list read1{{=_val.isRead}}{{=_val.replyState}}">
            	[{{=_val.hotMailDept}}]{{=_val.hotMailTitle}}
	            <li class="weui_media_info_meta_right" style="margin-top: 10px;">{{=_val.createDate}}</li>
	        </ul>
	        <div class="clear"></div>
        </p>
    </div> -->

    <div class="tax">
        <ol>
            <i><img src="UserModule/module/my/relate/style/images/tax_icon01.png" width="25" class="fl"/> </i>{{=_val.createDate}}<span class="fr">{{=_val.hotMailDept}}</span>
        </ol>
        <div class="clear"></div>
        <a data-id="{{=_val.hotMailId}}" class="relates" aigov-is-record="true">
            <p>
                <em class="fl">标题：</em>
                <span class="fl">{{=_val.hotMailTitle}}<!--多余的字用省略号--></span>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </p>
        </a>
        <div class="clear"></div>
        <div class="taxBorder"></div>
        <p><em class="fl">状态：</em><span class="fl">{{=_val.replyContent}}</span></p>
        <div class="clear"></div>
        <!-- <div class="taxBorder"></div>
        <p><em class="fl">答复人：</em><span class="fl">刘先生</span></p>
        <div class="clear"></div> -->
    </div>
    <div class="m-t-20"></div>
{{/@datas}}
