{{@datas}}
<a href="javascript:void(0);" class="weui_media_box weui_media_appmsg" aigov-is-record="true" hospitalName="{{=_val.hospitalName}}" hospitalCode="{{=_val.hospitalCode}}" hospitalId="{{=_val.hospitalId}}">
    <div class="weui_media_hd">
        <img class="weui_media_appmsg_thumb" src="data:image/png;base64,{{=_val.figureImg}}" lowsrc="UserModule/module/hospitalList/style/images/errerImg.png" lowsrc="UserModule/module/hospitalList/style/images/errerImg.png" onerror="this.src='UserModule/module/hospitalList/style/images/errerImg.png'">
    </div>
    <div class="weui_media_bd">
        <h4 class="weui_media_title">{{=_val.hospitalName}}</h4>
        <p class="weui_media_desc">{{=_val.intro}}</p>
    </div>
</a>
{{/@datas}}