@charset "utf-8";
.aigov-search-width{
	position:absolute;
	top:0rem;
	width:100%;
	height: 3em;
	line-height: 3em;
	background: -webkit-linear-gradient(top,#fbfcfc,#f1f0f0);
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	z-index: 999;
	text-align: center;
}

.aigov-search-inputbox{
	position: absolute;
	top: 50%;
	height: 1.8rem;
	margin-top: -0.9rem;
	left: 0.5rem;
	right: 0.5rem;
	color: #b4b3b4;
	border-radius: 8px;
	background: #fff;
	border: 1px #FFFFFF solid;
	box-shadow: 0 0 0.2em #D5CFCF;
}

.aigov-search-input {
    border: 0px transparent none;
    background: transparent;
    display: block;
    text-indent: 0.5rem;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 5em;
    padding-left: 0.5em;
}

.aigov-search-icon {
    border: 0px transparent none;
    width: 2rem;
    height: 2rem;
    background: url(images/searchBtnBg.png) no-repeat center center;
    display: block;
    position: absolute;
    right: 0.8rem;
    top: 0em;
    -webkit-background-size: 130%;
}

.aigov-search-close-btn{
	border: 0px transparent none;
	width: 2rem;
	height: 2rem;
	background: url(images/close_b.png) no-repeat center center;
	display: block;
	position: absolute;
	right: 3rem;
	top: 50%;
	margin-top: -1rem;
	-webkit-background-size: 40%;
}

.aigov-content-width{
	width: 100%;
	height: 98%;
}

.aigov-img{
	width: 100%;
	height: 100%;
}

.aigov-img-div{
	width: 100%;
	/*height: auto;*/
	height: 40%;
}
.aigov-tab{
	width: 100%;
	/*height: 6%;*/
	height: 8%;
	background: rgb(142,195,173);
	margin-top: -1.4%;
}

.aigov-tab ul {
}

.aigov-tab ul li {
	float: left;
	width: 33%;
	height: 100%;
	/*line-height: 2.5rem;*/
	line-height: 3.5rem;
	text-align: center;
	border-right: 0.01rem solid white;
	font-size: 1.1rem;
}

.aigov-tab ul li a {
	color: white;
}

.aigov-list{
	width: 100%;
	/*height: 67%;*/
	height: 55%;
	background: #efefef;
}

.park-info-div{
/* 	height: 31.4%;
 */
	height: 95.4%;
/* 	border-bottom: 0.7rem solid lightgray;
 */}
.park-info-div h1{
	text-indent: 3%;
	/* height: 22%; */
	height: 13%;
	padding-top: 5%;
}

.park-info-div p {
	text-indent: 3%;
	height: 13%;
}

.park_detail p{
	float: left;
	width: 28%;
}

.park_detail_real p{
	float: left;
/* 	width: 43%;
 */
	width: 100%;
}

.font12 {
	font-size:1.1rem;
}

.span-float-left-30 {
	display: block;
    float: left;
    padding-right: 30%;
    margin-top: 2%;
}

.park_menu p {
	float: left;
    width: 33%;
    /* line-height: 350%; */
    border-top: 0.01rem solid black;
    margin-top: 2%;
    color: darkgrey;
    font: 1.14rem 微软雅黑;
    text-align: center;
}


.list_img {
	width: 12%;
	height: auto;
	float: left;
}



